.carousel {
    display: flex;
    height: 600px;
    width: 100%;
    border: red solid 4px;
    margin-bottom: 85px;


}

.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: none;
    -webik-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    // transform: scale(.8);
    transition: 0.9s ease-in-out;
    transform: none;


}

.carousel-card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-all-overlay {
    height: 100vw;
    width: 100vw;
    display: flex;
    position: absolute;
    background-color: rgba(34, 34, 96, 0.298);

}


.card-overlay {
    height: 100%;
    width: 100%;
    padding: 150px 30px;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 700px;
    justify-content: space-around;
}

.card-posted {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Inter';
    margin-bottom: 25px;
}

.card-title {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Sen';
    letter-spacing: -2px;
    margin-bottom: 25px;
}

.inline {
    display: flex;
    margin-bottom: 15px;
}

.inline .card-by {
    color: rgb(231, 210, 15);

}

.inline .line {
    border-right: 2px solid #ffffff;
    margin-right: 6px;
    margin-left: 6px;
    height: 20px;
}

.inline .card-date {
    color: white;

}

.card-desc {
    color: #fff;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 25px;

}



.card-read-more {
    color: black;
    cursor: pointer;
    font-size: 10px;
    margin-top: 10px;
    padding: 20px;
    height: 55px;
    background-color: yellow;
    text-transform: uppercase;
    position: fixed;
    margin-bottom: 20px;
    width: 204px;
    height: 56px;
    align-items: center;

}

.text-read-more {
    font-size: 16px;
    margin-top: 100px;
    color: whitesmoke;
    line-height: 28px;
    font-weight: none;
}

.text-read-more-active:hover {
    color: rgb(232, 238, 233);
}

.text-read-more-active:hover {
    background-color: #b78b13;
}



.carousel-arrow-left,
.carousel-arrow-right {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-bottom: 7px;
    cursor: pointer;
}

.carousel-arrow-left {
    left: 25px;
}

.carousel-arrow-right {
    right: 25px;
}

.carousel-pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagination-dot {
    height: 15px;
    width: 15px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.pagination-dot:hover {
    transform: scale(1.2);
    background-color: rgb(107, 194, 127);
}

.pagination-dot-active:hover {
    background-color: rgb(209, 205, 88);
}