.all-categories {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    height: 250px;
    margin-bottom: 285px;
    


}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.category-wrapper {
    position: relative;
}


.category-border {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
}

.category-card {
    border: 1px #6D6E76 solid;
    justify-content: space-between;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    height: 250px;
    position: relative;
    overflow: visible;
    min-width: 250px;
    flex-shrink: unset;
    cursor: pointer;

    // flex-shrink: 1;
    // position: absolute;
    // flex-shrink:;

}



.category-card:hover {
    background-color: #FFD050;
}

img {
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.category-icon {
    margin-bottom: 25px;
    background-color: white;
    width: 70px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
}

.category-post {
    justify-content: space-between;
}

.category-title {
    font-size: 26px;
    margin-bottom: 25px;
}

@media (max-width: 1200px) {

    .all-categories {
        // width: 1200px;
        height: 250px;
        margin: 0 auto;
        // margin-left: 85px;
        // margin-right: 85px;
        margin-bottom: 250px;       


    }


    .category-card {
        border: 1px #6D6E76 solid;
        justify-content: space-between;
        padding: 25px;
        margin-left: 25px;
        margin-right: 25px;
        height: 275px;
        position: relative;
        overflow-x: scroll;
        min-width: 300px;
        flex-shrink: unset;
        cursor: pointer;
        margin-bottom: 15px;
        // margin-top: 10px;

    }
}

.category-title {
    font-size: 26px;
    margin-bottom: 25px;
}

@media (max-width: 576px) {

    .all-categories {
        max-width: 576px;
        height: 200px;
        // margin-left: 85px;
        // margin-right: 85px;
        // margin-bottom: 185px; 
    }

    .category-border {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
    }
    


    .category-card {
        border: 1px #6D6E76 solid;
        justify-content: space-between;
        padding: 25px;
        margin-left: 15px;
        margin-right: 15px;
        height: 200px;
        position: relative;
        overflow: visible;
        min-width: 200px;
        flex-shrink: unset;
        cursor: pointer;

    }
}