.all-posts {
  display: flex;
  height: 700px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.post-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
}

.post-border {
  border: rgb(110, 111, 158) solid 1px;
  height: 100%;
  margin-top: 25px;
}

.post-card {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.post-card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.post-image {
  width: 90%;
  height: 90%;
  align-items: center;
  position: absolute;
  margin-left: 30px;
  margin-top: 25px;
}

.post-all-overlay {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 410px;
}

.post-overlay {
  margin-right: 0px;
  margin-top: 30px;
  padding: 25px;
  position: fixed;
}

.inline-post {
  display: flex;
  margin-bottom: 10px;
}

.post-by {
  color: black;
  margin-right: 6px;
}

.inline-post .post-by {
  color: rgb(231, 210, 15);
}

.inline-post .line-post {
  border-right: 2px solid #161515;
  margin-right: 6px;
  margin-left: 6px;
  height: 20px;
}

.inline-post .date-post {
  color: rgb(23, 22, 22);
}

.post-about {
  color: #111111;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 15px;
}

.post-desc {
  color: #111111;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 15px;
}

.post-read-more {
  background-color: #FFD050;
  padding: 16px 48px;
  width: 180px;
  height: 36px;
  position: fixed;
  margin-top: 10px;
}

.post-read-more-active:hover {
  background-color: #b78b13;
}

.read-more-post {
  color: #232536;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  position: fixed;
}

a:-webkit-any-link {
  text-decoration: none;
}

.pagination-post {
  width: 40%;
  height: 100%;
}

.posts-pagination {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  padding-left: 10px;
  cursor: pointer;
}

.pagination-text {
  padding: 15px;
  margin-top: 0px;
}

.pagination-text:hover {
  background-color: rgb(107, 194, 127);
}

.pagination-text-active:hover {
  background-color: rgb(219, 199, 143);
}

.viewAll {
  width: 10%;
  height: 100%;
  margin-left: 85px;
}

@media (max-width: 1200px) {
  .all-posts {
    display: flex;
    height: 730px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 150px;
    max-width: 1200px;
  }
}
@media (max-width: 576px) {
  .all-posts {
    max-width: 576;
    display: flex;
    flex-direction: column;
    height: 1200px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
  .post-wrapper {
    width: 100%;
    height: 45%;
    font-size: 14px;
  }
  .post-image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .post-border {
    border: rgb(110, 111, 158) solid 1px;
    width: 100%;
  }
  .post-all-overlay {
    height: 100%;
    width: 100%;
  }
  .post-overlay {
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
  }
  .inline-post {
    display: flex;
  }
  .post-by {
    color: black;
  }
  .inline-post .post-by {
    color: rgb(231, 210, 15);
  }
  .inline-post .line-post {
    border-right: 2px solid #161515;
  }
  .inline-post .date-post {
    color: rgb(23, 22, 22);
  }
  .post-about {
    color: #111111;
    font-size: 14px;
  }
  .post-desc {
    color: #111111;
    font-size: 14px;
  }
  .post-read-more {
    background-color: #FFD050;
    margin: 0 auto;
    width: 100px;
    height: 26px;
    position: fixed;
    margin-top: 10px;
    cursor: pointer;
  }
  .post-read-more-active:hover {
    background-color: #b78b13;
    cursor: pointer;
  }
  .read-more-post {
    color: #232536;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    position: fixed;
  }
  .pagination-post {
    width: 100%;
    height: 30%;
    font-size: 14px;
    margin-top: 500px;
    margin-bottom: 85px;
  }
  .posts-pagination {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    padding-left: 10px;
    cursor: pointer;
  }
  .viewAll {
    width: 100%;
    height: 10%;
    font-size: 15px;
  }
}/*# sourceMappingURL=featuredPost.css.map */