.all-join {
    // background-color: red;
    width: 1400px;
    height: 500px;
    margin-left: 85px;
    margin-right: 85px;
    // margin-bottom: 85px;
    padding: 45px;
}

.join {
    font-size: 36px;
    text-align: center;
    color: #232536;
    width: 600px;
    height: 180px;
    line-height: 80px;
    margin: 0 auto;
    // margin-bottom: 50px;
    // align-items: center;
    // background-color: wheat;
}

.join-text {
   font-size: 20px;
   color: #6D6E76;
   margin: 0 auto;
   width: 600px;
   height: 100px;
   text-align: center; 
}

.link-join {
    font-size: 18px;
    background-color: #FFD050;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;    

}

.text-link {
    text-align: center;
    padding: 15px;
}

@media (max-width: 1200px) {

    .all-join {
       
        width: 1000px;
        height: 500px;
        margin-left: 85px;
        margin-right: 85px;
        
        padding: 45px;
    }
    
}
