.all-passion {
  display: flex;
  height: 700px;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 85px;
}

.passion {
  display: flex;
}

.foto-passion {
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-passion {
  height: 75%;
  width: 64%;
  display: flex;
  position: absolute;
  margin-left: 400px;
  margin-top: 155px;
  background-color: #FFFFFF;
}

.overlay {
  width: 64%;
  padding: 50px 50px;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 700px;
  justify-content: space-around;
  position: absolute;
  margin-top: 25px;
}

.why-passion {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 16px;
}

.title-passion {
  margin-bottom: 40px;
  line-height: 50px;
  font-size: 30px;
}

.desc-passion {
  margin-bottom: 40px;
}

.discover-passion {
  width: 250px;
  height: 55px;
  background-color: #FFD050;
  padding: 16px;
  color: #232536;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.discover-passion:active {
  background-color: rgb(52, 38, 3);
  color: aliceblue;
}

.discover-passion:hover {
  background-color: rgb(165, 121, 9);
}

@media (max-width: 1200px) {
  .all-passion {
    display: flex;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
  .overlay-passion {
    height: 74%;
    width: 70%;
    display: flex;
    position: absolute;
    margin-left: 400px;
    margin-top: 142px;
    background-color: #fff;
  }
  .title-passion {
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 20px;
  }
  .desc-passion {
    margin-bottom: 40px;
  }
  .discover-passion {
    width: 230px;
    height: 55px;
    background-color: #FFD050;
    color: #232536;
    align-items: center;
    position: absolute;
    cursor: pointer;
  }
}
@media (max-width: 576px) {
  .all-passion {
    display: flex;
    height: 330px;
    max-width: 576px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
  .overlay-passion {
    height: 29%;
    width: 75%;
    display: flex;
    position: absolute;
    margin-left: 142px;
    margin-top: 50px;
    background-color: #fff;
  }
  .title-passion {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .desc-passion {
    margin-bottom: 5px;
  }
  .discover-passion {
    width: 200px;
    height: 30px;
    background-color: #FFD050;
    color: #232536;
    align-items: center;
    position: absolute;
    cursor: pointer;
  }
  .overlay {
    width: 100%;
    padding: 0px 0px;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-around;
    position: absolute;
    margin-top: 0px;
  }
  .why-passion {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .title-passion {
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 16px;
  }
  .discover-passion {
    width: 250px;
    height: 35px;
    background-color: #FFD050;
    padding: 16px;
    color: #232536;
    align-items: center;
    position: absolute;
    cursor: pointer;
  }
}/*# sourceMappingURL=passion.css.map */