.all-blogs {
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 85px;
  max-width: 1440px;
}

.blog-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
}

.blog-border {
  height: 100%;
  background-color: #F4F0F8;
  padding: 45px;
}

.blog-card {
  position: absolute;
  opacity: 0;
  padding: 30px;
  padding: 25px;
}

.blog-card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.blog-overlay {
  display: flex;
  flex-direction: row;
}

.inline-blog {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
  width: 45%;
  height: 450px;
}

.blog-title {
  font-size: 16px;
  color: #232536;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.blog-largetitle {
  font-size: 26px;
  color: #232536;
  margin-bottom: 25px;
}

.blog-by {
  color: black;
  margin-right: 6px;
}

.blogLine {
  display: flex;
  margin-bottom: 10px;
}

.blogLine .blog-by {
  color: rgb(231, 210, 15);
}

.blogLine .line-blog {
  border-right: 2px solid #161515;
  margin-right: 6px;
  margin-left: 6px;
  height: 20px;
}

.blogLine .date-blog {
  color: rgb(23, 22, 22);
  margin-bottom: 25px;
}

.blog-desc {
  color: #111111;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-bottom: 25px;
  position: fixed;
  margin-top: 250px;
  width: 550px;
  height: 90px;
}

.read-more-blog {
  background-color: #FFD050;
  padding: 16px 48px;
  width: 204px;
  height: 56px;
  margin-top: 350px;
  position: absolute;
}

.image-blog {
  margin-top: 15px;
  position: relative;
}

.pagination-blog {
  margin-top: 85px;
  width: 100%;
  height: 1700px;
  position: relative;
  padding: 45px;
}

.blogs-pagination {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  position: relative;
}

.pagination-all {
  padding: 15px;
  margin-top: 1px;
  cursor: pointer;
  position: relative;
}

.pagination-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-about {
  margin-right: 100px;
  margin-top: 65px;
}

.pagination-type {
  font-size: 16px;
  color: #232536;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pagination-largetitle {
  font-size: 22px;
  color: #232536;
  margin-bottom: 15px;
}

.pagination-desc {
  color: #6D6E76;
}

.pageNumbers {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
  margin-bottom: 85px;
  width: 150px;
  height: 40px;
  margin-left: 650px;
}

.pageNumbers, li {
  list-style: none;
}

.pageNumbers, button {
  font-size: 25px;
  margin-right: 25px;
}

@media (max-width: 1200px) {
  .nav-links ul li:not(:last-child) {
    margin-right: 30px;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    background-color: #FFFFFF;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #232536;
    width: 0px;
    height: 600px;
    transition: all 0.3s ease-in;
  }
  .nav-links.active {
    width: 270px;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
  }
  .nav-links ul li {
    margin-right: unset;
    margin-top: 25px;
    margin-left: 15px;
  }
  .all-blogs {
    max-width: 900px;
  }
  .blog-title {
    font-size: 10px;
    color: #232536;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .blog-largetitle {
    font-size: 20px;
    color: #232536;
    margin-bottom: 25px;
  }
  .blog-desc {
    color: #111111;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-bottom: 25px;
    position: fixed;
    width: 350px;
  }
  .image-blog {
    margin-top: 15px;
    margin-left: 10px;
    position: relative;
    width: 120px;
  }
  .blogLine {
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .read-more-blog {
    background-color: #FFD050;
    padding: 16px 48px;
    width: 180px;
    height: 30px;
    margin-top: 350px;
    position: absolute;
    color: #111111;
  }
  .blog-border {
    height: 100%;
    background-color: #F4F0F8;
  }
}/*# sourceMappingURL=postBlog.css.map */