.all-weare {
    max-width: 1400px;
    height: 150px;
    margin: 0 auto;   
    margin-top: 285px;
    margin-bottom: 85px;
       
}

.weare {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    margin-top: 40px;
    

} 

@media (max-width: 1200px) {

    
        .all-weare {
            max-width: 1200px;
            height: 150px;
            padding: 25px;
            margin-top: 185px;
            
            // background-color: red;    
        }
}

@media (max-width: 576px) {

    
    .all-weare {
        max-width: 576px;
        height: 300px;
        padding: 25px;
        margin-top: 185px;
        
        // background-color: red;    
    }

    .weare {
        display: flex;
        flex-direction: column;       
        text-align: center; 
       justify-content:space-between;  
        
    
    } 
}