.all-weare {
    width: 1400px;
    height: 150px;
    margin-left: 285px;
    margin-right: 85px;
    margin-top: 85px;
    margin-top: 285px;
    // background-color: red;    
}

.weare {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    margin-top: 40px;
    

} 

@media (max-width: 1200px) {

    
        .all-weare {
            width: 900px;
            height: 150px;
            margin-left: 85px;
            margin-right: 85px;
            margin-top: 85px;
            margin-top: 285px;
            // background-color: red;    
        }
}